[submodule "vivado-boards"]
	path = vivado-boards
	url = https://github.com/Digilent/vivado-boards
[submodule "vivado-library"]
	path = vivado-library
	url = git@github.com:Digilent/vivado-library.git
